%h1= display_name(@track)

%ul
  %li
    Title:
    = @track.title
  %li
    Artist:
    = @track.artist
  %li
    Album:
    = @track.album
  %li
    Comments:
    = @track.comments

= link_to 'index', '/music'