%ol#track_listing
  - @playlist.tracks.each do |track|
    %li= link_to(display_name(track), "/music/show/#{path_part(track)}")

= link_to 'music index', '/music'
%br
- if @playlist.playing?
  = link_to 'stop playlist', '/playlist/stop'
- elsif !@playlist.empty?
  = link_to 'start playlist', '/playlist/start'
  = link_to 'clear playlist', '/playlist/clear'
